[run]
source =
    streamlink
    streamlink_cli

[report]
omit =
  */python?.?/*
  *__init__*
  src/streamlink/packages/*
  src/streamlink_cli/packages/*

exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
