# OS and editors
.DS_Store
._*
Thumbs.db
Desktop.ini
*.bak
.cache
.project
.settings
.tmproj
nbproject
*.sublime-project
*.sublime-workspace
.idea

/build/
/completions/
/docs/_build/
/dist/

*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
bin
build-win32
develop-eggs
downloads
eggs
fake-eggs
parts
.installed.cfg
.mr.developer.cfg
.hg
.bzr
.svn
*.pyc
*.pyo
*.tmp*
*.swp
include/
lib/
local/
share/
pip-selfcheck.json
.pytest_cache/
.mypy_cache/

# ignore any key files
*.key

# coverage
.coverage
coverage.xml
htmlcov
