language: python

matrix:
  include:
  - python: '2.7'
  - python: '3.4'
  - python: '3.5'
    env: BUILD_DOCS=yes BUILD_INSTALLER=yes STREAMLINK_INSTALLER_DIST_DIR=$TRAVIS_BUILD_DIR/dist/nsis DEPLOY_PYPI=yes
  - python: '3.6'
  - python: '3.7-dev'
  allow_failures:
  - python: '2.6'
  - python: '3.7-dev'

before_install:
  - pip install --disable-pip-version-check --upgrade pip setuptools
  - pip install -r dev-requirements.txt
  - pip install pycountry
  - pip install -r docs-requirements.txt

install:
  - pip install -e .

script:
  - pytest --cov
  # test building the docs
  - if [[ $BUILD_DOCS == 'yes' ]]; then make --directory=docs html; fi
  - if [[ $BUILD_INSTALLER == 'yes' ]]; then ./script/makeinstaller.sh; fi

after_success:
  # push the docs only if the build was successful
  - bash script/pushdocs.sh
  - codecov

addons:
  apt:
    packages:
    - nsis

before_deploy:
  - ./script/bintrayconfig.sh

deploy:
  - provider: releases
    api_key: "${RELEASES_API_KEY}"
    file: "${STREAMLINK_INSTALLER_DIST_DIR}/streamlink-${TRAVIS_TAG}.exe"
    file_glob: true
    skip_cleanup: true
    on:
      tags: true
      condition: $BUILD_INSTALLER = yes
      repo: streamlink/streamlink
  - provider: script
    script: python script/github_releases.py
    skip_cleanup: true
    on:
      tags: true
      condition: $BUILD_INSTALLER == yes
      repo: streamlink/streamlink
  - provider: bintray
    file: build/bintray-nightly.json
    user: "${BINTRAY_USER}"
    key: "${BINTRAY_KEY}"
    skip_cleanup: true
    on:
      branch: master
      condition: $BUILD_INSTALLER == yes && $TRAVIS_EVENT_TYPE == cron
      repo: streamlink/streamlink
  - provider: pypi
    user: "${PYPI_USER}"
    password: "${PYPI_PASSWORD}"
    distributions: "sdist bdist_wheel"
    on:
      tags: true
      condition: $DEPLOY_PYPI == yes
      repo: streamlink/streamlink

after_deploy:
  - if [[ "$BUILD_INSTALLER" == 'yes' && "$TRAVIS_EVENT_TYPE" == 'cron' ]]; then ./script/bintrayupdate.sh; fi
