pip>=9
pytest >=6.0.0
pytest-asyncio
pytest-cov
coverage[toml]
mock ; python_version<"3.8"
requests-mock
freezegun>=1.0.0
shtab
versioningit >=2.0.0, <3

ruff >=0.0.252

mypy
lxml-stubs
types-freezegun
types-requests
types-urllib3
typing_extensions
