pip>=9
pytest >=6.0.0
pytest-asyncio
pytest-cov
pytest-trio
coverage[toml]
requests-mock
freezegun>=1.0.0
shtab
versioningit >=2.0.0, <3

# required by script/generate-cdp.py
inflection

ruff ==0.0.272

mypy
lxml-stubs
trio-typing
types-freezegun
types-requests
types-urllib3
typing_extensions
