# setup
setuptools >=64.0.0  # required for reading the version string when building from git
versioningit >=2.0.0,<4  # required for reading the version string when building from git

# build
sphinx >=6.0.0,<8

# themes and extensions
furo ==2023.09.10
myst-parser >=1.0.0,<3
sphinx-design ==0.5.0

# typing
docutils-stubs
