include AUTHORS
include CHANGELOG.md
include README.md
include LICENSE*
include *requirements.txt
include src/streamlink/_version.py
include versioneer.py

recursive-include docs *
recursive-include examples *
recursive-include tests *

prune docs/_build
prune */__pycache__
global-exclude *.pyc *~ *.bak *.swp *.pyo
