[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlink = {editable = true, path = "."}
requests = "*"

[dev-packages]

[requires]
python_version = "3.10"
