[build-system]
build-backend = "setuptools.build_meta"
requires = [
  "setuptools >=45",
  "wheel",
  "versioningit >=2.0.0, <3",
]


# https://versioningit.readthedocs.io/en/stable/index.html
[tool.versioningit]
default-version = "0.0.0+unknown"

[tool.versioningit.vcs]
method = "git"

[tool.versioningit.format]
distance = "{base_version}+{distance}.{vcs}{rev}"
dirty = "{base_version}+{distance}.{vcs}{rev}.dirty"
distance-dirty = "{base_version}+{distance}.{vcs}{rev}.dirty"

[tool.versioningit.next-version]
method = "null"

[tool.versioningit.onbuild]
source-file = "src/streamlink/_version.py"
build-file = "streamlink/_version.py"


# https://coverage.readthedocs.io/en/latest/config.html
[tool.coverage.run]
branch = true
source = [
  "src",
  "tests",
]

[tool.coverage.report]
omit = [
  "src/streamlink/packages/*",
  "src/streamlink_cli/packages/*",
]
exclude_lines = [
  "pragma: no cover",
  "def __repr__",
  "raise NotImplementedError",
  "if __name__ == \"__main__\":",
]


# https://mypy.readthedocs.io/en/stable/config_file.html
[tool.mypy]
python_version = 3.7
show_error_codes = true
show_error_context = true
show_column_numbers = true
warn_no_return = false
files = [
  "src/streamlink/",
  "src/streamlink_cli/",
  "tests/",
  "docs/",
  "setup.py",
]
