Source: streamlink
Maintainer: Stefan Breunig <stefan-debian@yrden.de>
Section: python
Priority: optional
Standards-Version: 3.9.6
Build-Depends: debhelper (>= 9),
 dh-python,
 python,
 python3,
 python-setuptools,
 python3-setuptools,
 python-singledispatch,
 python3 (>= 3.4) | python3-singledispatch,
 python-requests,
 python3-requests,
 python-sphinx,
 python-concurrent.futures
X-Python-Version: >= 2.6
X-Python3-Version: >= 3.3
Homepage: http://streamlink.io/
Vcs-Git: git://github.com/streamlink/streamlink.git
Vcs-Browser: https://github.com/streamlink/streamlink

Package: python-streamlink
Architecture: all
Depends: ${misc:Depends},
 ${python:Depends},
 python-requests,
 python-singledispatch,
 python-concurrent.futures
Recommends: rtmpdump,
  python-crypto,
  python-librtmp
Suggests: streamlink
Description: library to extract video streams from various services - Python 2
 The API lists available video qualities from URLs which are
 visible to a service’s users. It can extract any such quality
 and pass on the raw video data.
 .
 Currently most of the big streaming services are supported
 (e.g. Dailymotion, Livestream, Justin.tv, Twitch, YouTube Live
 and UStream) and more specialized content providers can be
 added easily using Streamlink’s plugin system.
 .
 This package makes Streamlink APIs accessible in Python 2.

Package: python3-streamlink
Architecture: all
Depends: ${misc:Depends},
 ${python3:Depends},
 python3-requests,
 python3 (>= 3.4) | python3-singledispatch
Recommends: rtmpdump,
  python3-crypto,
  python3-librtmp
Suggests: streamlink
Description: library to extract video streams from various services - Python 3
 The API lists available video qualities from URLs which are
 visible to a service’s users. It can extract any such quality
 and pass on the raw video data.
 .
 Currently most of the big streaming services are supported
 (e.g. Dailymotion, Livestream, Justin.tv, Twitch, YouTube Live
 and UStream) and more specialized content providers can be
 added easily using Streamlink’s plugin system.
 .
 This package makes Streamlink APIs accessible in Python 3.

Package: python-streamlink-doc
Section: doc
Architecture: all
Depends: ${sphinxdoc:Depends},
  ${misc:Depends},
  libjs-modernizr,
  sphinx-rtd-theme-common
Recommends: fonts-inconsolata,
  fonts-lato
Description: library to extract video streams from various services - documentation
 The API lists available video qualities from URLs which are
 visible to a service’s users. It can extract any such quality
 and pass on the raw video data.
 .
 Currently most of the big streaming services are supported
 (e.g. Dailymotion, Livestream, Justin.tv, Twitch, YouTube Live
 and UStream) and more specialized content providers can be
 added easily using Streamlink’s plugin system.
 .
 This package contains the Streamlink usage, API and plugins
 documentation in HTML format.

Package: streamlink
Section: video
Architecture: all
Depends: ${misc:Depends},
  ${python:Depends},
  python-streamlink (= ${source:Version})
Suggests: python-streamlink-doc
Description: CLI that pipes video streams to video players
 Streamlink is a Command Line Interface that extracts video
 streams from various services and hands them to a video player,
 such as VLC. The main purpose of Streamlink is to allow the
 user to avoid buggy and CPU heavy flash plugins but still
 be able to enjoy various streamed content.
 .
 Currently most of the big streaming services are supported
 (e.g. Dailymotion, Livestream, Justin.tv, Twitch, YouTube Live
 and UStream) and more specialized content providers can be
 added easily using Streamlink’s plugin system.
