/*
  Furo CSS variables
  https://github.com/pradyunsg/furo/blob/main/src/furo/assets/styles/variables/_index.scss
  https://github.com/pradyunsg/furo/blob/main/src/furo/theme/partials/_head_css_variables.html
*/
:root {
  /* adjust font-stack by adding "SF Pro Display" and "SF Mono" */
  --font-stack: -apple-system, BlinkMacSystemFont, SF Pro Display, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  --font-stack--monospace: SFMono-Regular, SF Mono, Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  /* Streamlink colors */
  --color-brand-primary: rgb(18, 22, 87);   /* dark icon color (shadow icon color: rgb(13, 16, 65)) */
  --color-brand-content: rgb(0, 115, 189);  /* bright icon color */
  /* misc */
  --sidebar-width: 15rem;
  --sidebar-scrollbar-width: .5rem;
  --sidebar-item-spacing-vertical: .4rem;
  --admonition-font-size: var(--font-size--small);
  --admonition-title-font-size: var(--font-size--normal);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-brand-primary: rgb(0, 115, 189);  /* bright icon color */
    --color-brand-content: rgb(0, 115, 189);  /* bright icon color */
  }
}

/*
  Generic style overrides
*/

html {
  /* unset @media (min-width: $full-width + $sidebar-width) query which sets font-size to 110% */
  font-size: 100% !important;
}

code.literal {
  font-size: var(--font-size--small);
}

strong.command {
  padding: .1em .2em;
  border-radius: .2em;
  background: var(--color-background-secondary);
  color: var(--color-api-name);
  font: normal var(--font-size--small) var(--font-stack--monospace);
}

/*
  Sidebar/Menubar and related
*/

.toc-scroll:not(:hover) {
  scrollbar-color: transparent;
}
.toc-scroll:not(:hover)::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.sidebar-brand,
.sidebar-versions,
.sidebar-search,
.github-buttons {
  box-sizing: border-box;
  width: calc(var(--sidebar-width) - 2 * var(--sidebar-scrollbar-width)) !important;
  margin-left: var(--sidebar-scrollbar-width) !important;
  margin-right: 0 !important;
}
.toc-title,
.toc-tree > ul {
  padding-right: .5em;
}

.sidebar-logo-container {
  margin: 0;
}
.sidebar-logo {
  max-width: 62.5%;
}
.sidebar-brand-text {
  font-size: 1.75rem;
}
.sidebar-brand-oneliner {
  font-size: var(--font-size--small--2);
  margin: 0;
}

.sidebar-versions {
  margin: .5rem 0;
}
.sidebar-versions a {
  color: inherit;
}
.sidebar-versions-current {
  font-family: var(--font-stack--monospace);
  font-size: var(--font-size--small--2);
}
.sidebar-versions-others {
  display: flex;
  margin: .5rem 0 0;
  font-size: var(--font-size--small);
}
.sidebar-versions-others dd {
  width: 50%;
  margin: 0;
}
.sidebar-versions-others dd:first-of-type {
  padding-right: .5rem;
  text-align: right;
}
.sidebar-versions-others dd:last-of-type {
  padding-left: .5rem;
  text-align: left;
}
.sidebar-versions-others .version-current {
  font-weight: bold;
}

.sidebar-search-container {
  border-top: 1px solid var(--color-sidebar-search-border);
  border-bottom: 1px solid var(--color-sidebar-search-border);
}
.sidebar-search {
  border: 0;
  padding-left: calc(
      var(--sidebar-item-spacing-horizontal)
    + var(--sidebar-search-input-spacing-horizontal)
    + var(--sidebar-search-icon-size)
    - var(--sidebar-scrollbar-width)
  );
}

.github-buttons {
  margin: 1.5rem 0 1rem;
}

.toc-tree li.scroll-current > .reference {
  position: relative;
  font-weight: normal;
}
.toc-tree li.scroll-current > .reference::before {
  content: "\2023";
  display: inline-block;
  position: absolute;
  left: -1em;
  width: 1em;
  color: var(--color-toc-item-text);
  font: normal normal 400 1em var(--font-stack);
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  opacity: .75;
}

/*
  Components
*/

.admonition p.admonition-title {
  font-weight: bold;
}
.admonition.version-warning {
  padding-bottom: 0;
}
.admonition.version-warning > .admonition-title {
  margin-bottom: 0;
  font-weight: normal;
}

table.table-custom-layout {
  width: 100%;
  table-layout: fixed;
}
table.table-custom-layout colgroup {
  display: none;
}
table.table-custom-layout colgroup col {
  width: auto;
}
table.table-custom-layout th {
  text-align: left;
}
table.table-custom-layout th:first-of-type {
  width: 14rem;
}
table.table-custom-layout tbody tr td {
  overflow: unset;
  white-space: unset;
}
table.table-custom-layout tbody tr td:first-of-type {
  vertical-align: top;
}

/*
  Content
*/

.github-avatar {
  float: left;
  width: 150px;
  height: 150px;
  margin: 0 1rem 1rem 0;
}
.github-avatar + .container > ul > li {
  list-style: none;
}

/*
  Utils
*/

.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
